<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
  <h2>Page protégée</h2>

  <h3>Une erreur s'est produite, merci de réessayer</h3>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
