<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
  <section><%- include('components/form-login') -%></section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
